/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* PAGE RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden; /* no scrollbars */
    background-color: #333;
    color: #fff;
    line-height: 1.7;
}

.slider-container{
    height: 100vh;
    display: inline-flex; /* Arrange slides in a horizontally */
    overflow: hidden;
    transform: translateX(0); /* Push container left(-200) or right(+200); default 0*/
    transition: transform 0.3s ease-out; /* Make smooth transition */
    cursor: grab; /* mouse-down = grabbing */
}

.slide{
    max-height: 100vh;
    width: 100vw;
    display: flex; /* Align elements */
    flex-direction: column; /* Align vertically */
    align-items: center; /* center horizontally */
    justify-content: center; /* center vertically */
    padding: 1rem;
    user-select: none; /* Disable selecting with  mouse-down */
}

.slide img{
    max-width: 100%;
    max-height: 60%;
}

.slide h2{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.slide h4{
    font-size: 1.3rem;
}

.btn{
    background-color: #444;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1.5rem; /* T-B & L-R */
}